@use "sass:map";
@use "sass:color";

$colors: (
    "navy":           rgb(40, 28, 108),
    "blue":           rgb(0, 133, 255),
    "pastel-indigo":  rgb(70, 118, 181),
    "lapis":          rgb(34, 114, 154),
    "teal":           rgb(0, 128, 128),
    "pastel-teal":    rgb(69, 195, 205),
    "aquamarine":     rgb(58, 160, 125),
    "mint":           rgb(106, 238, 189),
    "green":          rgb(25, 135, 84),
    "lime":           rgb(133, 210, 50),
    "neon":           rgb(173, 255, 110),
    "yellow":         rgb(255, 236, 32),
    "lstv-red":       rgb(237, 108, 48),
    "lstv-yellow":    rgb(252, 194, 27),
    "lstv-blue":      rgb(64, 192, 231),
    "orange":         rgb(255, 140, 32),
    "deep-orange":    rgb(255, 112, 52),
    "red":            rgb(245, 47, 47),
    "rusty-red":      rgb(220, 53, 69),
    "pink":           rgb(230, 52, 164),
    "hotpink":        rgb(245, 100, 169),
    "purple":         rgb(155, 77, 175),
    "soap":           rgb(210, 190, 235),
    "burple":         rgb(81, 101, 246),
    "white":          rgb(255, 255, 255),
);

:root {
    @each $name, $color in $colors {
        --ls-accent-#{$name}: #{$color};
    }

    --base-0:  rgb(0, 0, 0);
    --base-100:  rgb(255, 255, 255);
}

@each $name, $color in $colors {
    $selector: "[ls-accent=\"#{$name}\"]";

    @if $name == "blue" {
        $selector: "#{$selector}, html";
    }
    
    @else if $name == "white" {
        $selector: "#{$selector}, [ls-accent=\"gray\"], [ls-accent=\"auto\"], [ls-accent=\"black\"]";
    }

    // Generate CSS for the modified selector
    #{$selector} {
        --accent-10: #{generate-tone($color, 10)};
        --accent-20: #{generate-tone($color, 20)};
        --accent-30: #{generate-tone($color, 30)};
        --accent-35: #{generate-tone($color, 35)};
        --accent-40: #{generate-tone($color, 40)};
        --accent-45: #{generate-tone($color, 45)};
        --accent-50: #{generate-tone($color, 50)};
        --accent-55: #{generate-tone($color, 55)};
        --accent-60: #{generate-tone($color, 60)};
        --accent-70: #{generate-tone($color, 70)};
        --accent-80: #{generate-tone($color, 80)};
        --accent-90: #{generate-tone($color, 90)};
        --accent-95: #{generate-tone($color, 95)};

        --base-3 : #{generate-tone($color, 3 , 16)};
        --base-6 : #{generate-tone($color, 6 , 16)};
        --base-8 : #{generate-tone($color, 8 , 16)};
        --base-10: #{generate-tone($color, 10, 16)};
        --base-15: #{generate-tone($color, 15, 16)};
        --base-20: #{generate-tone($color, 20, 16)};
        --base-25: #{generate-tone($color, 25, 16)};
        --base-30: #{generate-tone($color, 30, 16)};
        --base-35: #{generate-tone($color, 35, 16)};
        --base-40: #{generate-tone($color, 40, 16)};
        --base-45: #{generate-tone($color, 45, 16)};
        --base-50: #{generate-tone($color, 50, 16)};
        --base-55: #{generate-tone($color, 55, 16)};
        --base-60: #{generate-tone($color, 60, 16)};
        --base-65: #{generate-tone($color, 65, 16)};
        --base-70: #{generate-tone($color, 70, 16)};
        --base-75: #{generate-tone($color, 75, 16)};
        --base-80: #{generate-tone($color, 80, 16)};
        --base-85: #{generate-tone($color, 85, 16)};
        --base-90: #{generate-tone($color, 90, 16)};
        --base-95: #{generate-tone($color, 95, 16)};
    }
}

.level-0 {
    --background: var(--elevate-0);
    --elevate: var(--elevate-1);
}

.level-0.color {
    --background: var(--accent-mix-10);
}

.level-1, ls-box:not(ls-box ls-box) {
    --background: var(--elevate-1);
    --elevate: var(--elevate-2);
}

ls-box {
    --background: var(--elevate);
}

.level-1.color {
    --background: var(--accent-mix-20);
}

.level-2 {
    --background: var(--elevate-2);
    --elevate: var(--elevate-3);
}

.level-2.color {
    --background: var(--accent-mix-40);
}

.level-3 {
    --background: var(--elevate-3);
    --elevate: var(--elevate-4);
}

.level-3.color {
    --background: var(--accent-mix-60);
}

.level-4 {
    --background: var(--elevate-4);
    --elevate: var(--elevate-5);
}

.level-4.color {
    --background: var(--accent-mix-80);
}

.level-5 {
    --background: var(--elevate-5);
    --elevate: var(--elevate-6);
}

.level-5.color {
    --background: var(--accent-40);
    --color: var(--on-accent);
}

.level-6 {
    --background: var(--elevate-6);
    --elevate: var(--elevate-7);
}

.level-7 {
    --background: var(--elevate-7);
    --color: var(--on-invert);
    --elevate: var(--elevate-8);
}

.level-8 {
    --background: var(--elevate-8);
    --color: var(--on-invert);
    --elevate: var(--elevate-9);
}

.level-9 {
    --background: var(--elevate-9);
    --color: var(--on-invert);
    --elevate: var(--elevate-10);
}

[class*="level-"], ls-box {
    background: var(--background);
    color: var(--color);
}

[class*="level-"].round {
    border-radius: var(--border-radius);
}

[class*="level-"].round-lg {
    border-radius: var(--border-radius-large);
}

[class*="level-"].pill {
    border-radius: var(--border-radius-full);
}

[ls-accent], ls-box, html, [class*="level-"]:not(.color), .sidebar-items {
    --accent: var(--accent-40);
    --accent-mix-5:  color-mix(in oklab, var(--background) 100%, var(--accent) 5%);
    --accent-mix-10: color-mix(in oklab, var(--background) 100%, var(--accent) 10%);
    --accent-mix-20: color-mix(in oklab, var(--background) 100%, var(--accent) 20%);
    --accent-mix-30: color-mix(in oklab, var(--background) 100%, var(--accent) 30%);
    --accent-mix-40: color-mix(in oklab, var(--background) 100%, var(--accent) 40%);
    --accent-mix-50: color-mix(in oklab, var(--background) 100%, var(--accent) 50%);
    --accent-mix-60: color-mix(in oklab, var(--background) 100%, var(--accent) 60%);
    --accent-mix-70: color-mix(in oklab, var(--background) 100%, var(--accent) 70%);
    --accent-mix-80: color-mix(in oklab, var(--background) 100%, var(--accent) 80%);
    --accent-mix-90: color-mix(in oklab, var(--background) 100%, var(--accent) 90%);
    --accent-mix-95: color-mix(in oklab, var(--background) 100%, var(--accent) 95%);
}