@use "sass:map";
@use "sass:color";

$colors: (
    "navy":           rgb(40, 28, 108),
    "blue":           rgb(0, 133, 255),
    "pastel-indigo":  rgb(70, 118, 181),
    "lapis":          rgb(34, 114, 154),
    "teal":           rgb(0, 128, 128),
    "pastel-teal":    rgb(69, 195, 205),
    "aquamarine":     rgb(58, 160, 125),
    "mint":           rgb(106, 238, 189),
    "green":          rgb(25, 135, 84),
    "lime":           rgb(133, 210, 50),
    "neon":           rgb(173, 255, 110),
    "yellow":         rgb(255, 236, 32),
    "lstv-red":       rgb(237, 108, 48),
    "lstv-yellow":    rgb(252, 194, 27),
    "lstv-blue":      rgb(64, 192, 231),
    "orange":         rgb(255, 140, 32),
    "deep-orange":    rgb(255, 112, 52),
    "red":            rgb(245, 47, 47),
    "rusty-red":      rgb(220, 53, 69),
    "pink":           rgb(230, 52, 164),
    "hotpink":        rgb(245, 100, 169),
    "purple":         rgb(155, 77, 175),
    "soap":           rgb(210, 190, 235),
    "burple":         rgb(81, 101, 246),
    "white":          rgb(255, 255, 255),
);

:root {
    @each $name, $color in $colors {
        --ls-accent-#{$name}: #{$color};
    }
}

@each $name, $color in $colors {
    $selector: "[ls-accent=\"#{$name}\"]";

    @if $name == "blue" {
        $selector: "#{$selector}, html";
    }
    
    @else if $name == "white" {
        $selector: "#{$selector}, :disabled, [ls-accent=\"gray\"], [ls-accent=\"auto\"], [ls-accent=\"black\"]";
    }

    // Generate CSS for the modified selector
    #{$selector} {
        --accent-10: #{generate-tone($color, 10)};
        --accent-20: #{generate-tone($color, 20)};
        --accent-30: #{generate-tone($color, 30)};
        --accent-35: #{generate-tone($color, 35)};
        --accent-40: #{generate-tone($color, 40)};
        --accent-45: #{generate-tone($color, 45)};
        --accent-50: #{generate-tone($color, 50)};
        --accent-55: #{generate-tone($color, 55)};
        --accent-60: #{generate-tone($color, 60)};
        --accent-70: #{generate-tone($color, 70)};
        --accent-80: #{generate-tone($color, 80)};
        --accent-90: #{generate-tone($color, 90)};
        --accent-95: #{generate-tone($color, 95)};

        --surface-5: #{generate-tone($color,  5,  12)};
        --surface-6: #{generate-tone($color,  6,  12)};
        --surface-8: #{generate-tone($color,  8,  12)};
        --surface-10: #{generate-tone($color, 10,  12)};
        --surface-15: #{generate-tone($color, 15,  12)};
        --surface-20: #{generate-tone($color, 20, 12)};
        --surface-25: #{generate-tone($color, 25, 12)};
        --surface-30: #{generate-tone($color, 30, 12)};
        --surface-35: #{generate-tone($color, 35, 12)};
        --surface-40: #{generate-tone($color, 40, 12)};
        --surface-45: #{generate-tone($color, 45, 12)};
        --surface-50: #{generate-tone($color, 50, 12)};
        --surface-55: #{generate-tone($color, 55, 12)};
        --surface-60: #{generate-tone($color, 60, 12)};
        --surface-65: #{generate-tone($color, 65, 12)};
        --surface-70: #{generate-tone($color, 70, 12)};
        --surface-75: #{generate-tone($color, 75, 12)};
        --surface-80: #{generate-tone($color, 80, 12)};
        --surface-85: #{generate-tone($color, 85, 12)};
        --surface-90: #{generate-tone($color, 90, 12)};
        --surface-95: #{generate-tone($color, 95, 12)};

        --accent-raw: #{toRaw($color)};
    }
}

[ls-accent], :disabled, html {
    --accent: var(--accent-40);
    --accent-transparent: rgb(var(--accent-raw), 20%);
}