.ls-checkbox, .ls-radio {
    padding-left: calc(1em + 10px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;

    > span {
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    > input:checked ~ span::after {
        display: block;
    }
}

:is(.ls-checkbox, .ls-radio, .ls-radio-button) > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute !important;
}

.ls-checkbox > span::after {
    content: "";
    width: .2em;
    height: .5em;
    border: solid var(--on-accent);
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    margin-top: -0.1em;
}

.ls-radio > span::after {
    content: "";
    width: .5em;
    height: .5em;
    background: var(--on-accent);
    display: none;
}

ls-box {
    display: block;

    &:not(.contained, .color, .inline) {
        box-shadow: 0 10px 20px 0 #0002;
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
    
    &:not(.contained) {
        display: block;
    }
    
    &:not(.inline) {
        border-radius: var(--border-radius);
        padding: var(--padding-content-v) var(--padding-content-h);
    }

    &.inline {
        display: inline-block;
        border-radius: var(--border-radius-small);

        &:not(.full-padding, .elevated, .pill) {
            padding: 0 var(--padding-label-h);
        }
    }
    
    &.inline.pill {
        border-radius: var(--border-radius-full);

        &:not(.full-padding) {
            padding: 0 var(--padding-label-h-pill);
        }
    }

    &.elevated {
        padding: var(--padding-content-v);
        background: var(--elevate-0);
        border-radius: var(--border-radius-medium);
        outline: 1px solid var(--elevate-1);
    }
    
    &::selection {
        background: var(--accent-mix-40);
    }
}

ls-div {
    display: block;
}

ls-group {
    display: inline-flex;
    margin: var(--margin-control-v) var(--margin-control-h);

    > * {
        margin: 0 !important;
    }

    &.fill {
        width: 100%;

        > * {
            width: 100%;
        }
    }

    > *:not(:only-child) {
        &:not(:first-child, :last-child){
            border-radius: 0 !important;
        }
        
        &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}


.ls-toast-layer {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    padding-bottom: 1em;
    gap: 1em;
}

.ls-toast {
    pointer-events: all;
    opacity: 0;
    padding: 4px var(--padding-control-h-pill);
    border-radius: 2em;
    overflow: hidden;
    transition: opacity .2s;
    -webkit-user-select: none;
    user-select: none;
    color: var(--accent);
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px 0 #0002;
    max-width: 100%;
    flex-wrap: wrap;
    word-break: break-word;
}

.ls-toast.open {
    opacity: 1;
    // margin-top: 0;
}

button#{priority(".ls-toast-close", 3)} {
    margin: 0;
    font-size: 1.2em;
    box-sizing: content-box;
    margin-left: 12px;
    margin-right: -10px;
}

.ls-toast-content {
    display: inline-block;
    padding: .5em 0;
}

.ls-toast > i {
    margin-right: 0.8em;
    margin-left: -0.4em;
}

.ls-sidebar-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;

    > .ls-sidebar {
        width: 260px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
    }
}

.ls-sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    overflow: auto;
    flex: 1;
}

.ls-sidebar-item {
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: var(--padding-content-v) var(--padding-content-h);
    background: var(--elevate);
}

@media screen and (max-width: 860px) {
    .ls-sidebar-container > .ls-sidebar {
        position: absolute;
        transition: transform 0.2s;
        height: 100%;
        z-index: 5;
    }

    .ls-sidebar-container:not(.open) > .ls-sidebar {
        transform: translateX(-100%);
    }
}

.ls-sidebar-container > .sidebar-content {
    padding: 10px 45px;
    padding-bottom: 145px;
    flex: 1;
    overflow: auto;
}

ls-tab {
    display: block;
}

ls-tabs {
    display: block;

    &.ls-tabs-mode-default {
        .ls-tabs-content > *:not(.tab-active){
            display: none;
        }
    }

    &.ls-tabs-styled {
        display: flex;
        flex-direction: column;

        .ls-tabs-list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            border-bottom: 4px solid var(--ui-element);
            box-shadow: 0 1px 0 0 var(--elevate-0);
            padding: 4px 0 0 6px;
        }

        .ls-tab-close.ls-tab-close.ls-tab-close {
            border-radius: 5px;
            padding: 0;
            height: 20px;
            width: 20px;
            font-size: large;
            margin-left: 10px;
            margin-right: -8px;
            z-index: 1;
        }
        
        .ls-tab-handle {
            cursor: pointer;
            padding: 4px var(--padding-control-h);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            position: relative;
            display: flex;
            align-items: center;
            --background: none;
            background: var(--background);
            transition: background-color 0.1s;
            white-space: nowrap;
            user-select: none;
        }

        .ls-tab-handle:hover {
            --background: var(--accent-mix-10);
        }

        .ls-tab-handle.active {
            --background: var(--ui-element);
            z-index: 1;
            box-shadow: 0 4px 12px 2px #0002;
        }
        
        .ls-tab-handle::after, .ls-tab-handle::before {
            content: "";
            position: absolute;
            background-color: transparent;
            box-shadow: 0 -24px 0 0 var(--background);
            bottom: -18px;
            height: 46px;
            width: 10px;
            pointer-events: none;
            transition: box-shadow 0.1s;
            z-index: 0;
        }

        .ls-tab-handle::after {
            transform: rotate(-90deg);
            left: calc(100% + 18px);
            border-top-left-radius: 8px;
        }

        .ls-tab-handle::before {
            transform: rotate(90deg);
            left: -28px;
            border-top-right-radius: 8px;
        }
    }
}

.ls-tootlip-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    display: none;
}

.ls-tootlip-layer.shown {
    display: block;
}

.ls-tooltip-content {
    position: absolute;
    background: var(--surface-1);
    padding: 2px 14px;
    border: 1px solid var(--ui-border);
    box-shadow: inset 0 1px 0 0 var(--ui-element);
    border-radius: var(--border-radius);
}

@for $i from 1 through 7 {
    $sizes: (xxs, xs, sm, md, lg, xl, xxl);
    $size: nth($sizes, $i);
    $margin: 0.25rem * pow(2, $i - 1);

    .space-h-#{$size} {
        margin: $margin 0;
    }

    .space-v-#{$size} {
        margin: 0 $margin;
    }
}

.ls-slide-animation > * {
    transform: translateX(20px);
    will-change: transform;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: 1;
}

.ls-slide-animation > *.entering, .ls-slide-animation > *.leaving {
    position: absolute;
}

.ls-slide-animation > *.visible {
    pointer-events: auto;
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

.ls-slide-animation > *.leaving {
    pointer-events: none;
    transform: translateX(-20px);
    opacity: 0;
    z-index: 1;
}

.ls-slide-animation > *:not(.visible):not(.leaving):not(.entering) {
    display: none;
}

.ls-modal-layer.ls-modal-layer {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls-modal-layer.ls-modal-layer.is-open {
    background: #0004;
    pointer-events: auto;
}

.ls-modal-styled {
    overflow: hidden;
    max-height: 90vh;
    max-width: 90vw;
}

.ls-modal {
    position: absolute;
}

.ls-image-cropper {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.ls-image-cropper-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.ls-image-cropper-styled {
    border-radius: var(--border-radius);
    background: black;
}

.ls-image-cropper-image {
    cursor: grab;
    will-change: transform;
    position: absolute;
}

.ls-image-cropper-overlay {
    border: 5px solid var(--accent-80);
    box-shadow: 0 0 0 9999px rgba(47, 49, 54, .6);
    pointer-events: none;
    position: absolute;
    z-index: 1;
}