.ls-checkbox, .ls-radio {
    padding-left: calc(1em + 10px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;

    > span {
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    > input:checked ~ span::after {
        display: block;
    }
}

// Since 5.3.0, button-like containers (buttons, select, ...) are inline-flex by default, for consistency, proper centering, gap support, and to streamline layout and avoid annoying hacks.
#{$buttonLike} {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: var(--control-content-gap, 8px);
}

:is(.ls-checkbox, .ls-radio, .ls-radio-button) > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute !important;
}

.ls-checkbox > span::after {
    content: "";
    width: .2em;
    height: .5em;
    border: solid var(--on-accent);
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    margin-top: -0.1em;
}

.ls-radio > span::after {
    content: "";
    width: .5em;
    height: .5em;
    background: var(--on-accent);
    display: none;
}

ls-box {
    display: block;

    &:not(.contained, .color, .inline) {
        box-shadow: 0 10px 20px 0 #0002;
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
    
    &:not(.inline) {
        border-radius: var(--border-radius);
        padding: var(--padding-content-v) var(--padding-content-h);
    }

    &.inline {
        display: inline-block;
        border-radius: var(--border-radius-small);

        &:not(.full-padding, .elevated, .pill) {
            padding: 0 var(--padding-label-h);
        }
    }
    
    &.inline.pill {
        border-radius: var(--border-radius-full);

        &:not(.full-padding) {
            padding: 0 var(--padding-label-h-pill);
        }
    }

    &.elevated {
        padding: var(--padding-content-v);
        background: var(--elevate-0);
        border-radius: var(--border-radius-medium);
        outline: 1px solid var(--elevate-1);
    }
    
    &::selection {
        background: var(--accent-mix-40);
    }
}

ls-div {
    display: block;
}

ls-group {
    display: inline-flex;
    margin: var(--margin-control-v) var(--margin-control-h);

    > * {
        margin: 0 !important;
    }

    &.fill {
        width: 100%;

        > * {
            width: 100%;
        }
    }

    > *:not(:only-child) {
        &:not(:first-child, :last-child){
            border-radius: 0 !important;
        }
        
        &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}


.ls-toast-layer {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    padding-bottom: 1em;
    gap: 1em;
}

.ls-toast {
    pointer-events: all;
    opacity: 0;
    padding: 4px var(--padding-control-h-pill);
    border-radius: 2em;
    overflow: hidden;
    transition: opacity .2s;
    -webkit-user-select: none;
    user-select: none;
    color: var(--accent);
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px 0 #0002;
    max-width: 100%;
    flex-wrap: wrap;
    word-break: break-word;
}

.ls-toast.open {
    opacity: 1;
    // margin-top: 0;
}

button#{priority(".ls-toast-close", 3)} {
    margin: 0;
    font-size: 1.2em;
    box-sizing: content-box;
    margin-left: 12px;
    margin-right: -10px;
}

.ls-toast-content {
    display: inline-block;
    padding: .5em 0;
}

.ls-toast > i {
    margin-right: 0.8em;
    margin-left: -0.4em;
}

.ls-sidebar-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;

    > .ls-sidebar {
        width: 260px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
    }
}

.ls-sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    overflow: auto;
    flex: 1;
}

.ls-sidebar-item {
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: var(--padding-content-v) var(--padding-content-h);
    background: var(--elevate);
}

@media screen and (max-width: 860px) {
    .ls-sidebar-container > .ls-sidebar {
        position: absolute;
        transition: transform 0.2s;
        height: 100%;
        z-index: 5;
    }

    .ls-sidebar-container:not(.open) > .ls-sidebar {
        transform: translateX(-100%);
    }
}

.ls-sidebar-container > .sidebar-content {
    padding: 10px 45px;
    padding-bottom: 145px;
    flex: 1;
    overflow: auto;
}

.ls-tab-content {
    display: block;
}

.ls-tabs-content {
    flex: 1;
    min-height: 0;
}

.ls-tabs {
    display: block;

    &.ls-tabs-mode-default {
        .ls-tabs-content > *:not(.tab-active){
            display: none;
        }
    }

    &.ls-tabs-styled {
        display: flex;
        flex-direction: column;

        .ls-tabs-list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            border-bottom: 4px solid var(--ui-element);
            box-shadow: 0 1px 0 0 var(--elevate-0);
            padding: 4px 0 0 6px;
        }

        .ls-tab-close.ls-tab-close.ls-tab-close {
            border-radius: 5px;
            padding: 0;
            height: 20px;
            width: 20px;
            font-size: large;
            margin-left: 10px;
            margin-right: -8px;
            z-index: 1;
        }
        
        .ls-tab-handle {
            cursor: pointer;
            padding: 4px var(--padding-control-h);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            position: relative;
            display: flex;
            align-items: center;
            --background: none;
            background: var(--background);
            transition: background-color 0.1s;
            white-space: nowrap;
            user-select: none;
        }

        .ls-tab-handle:hover {
            --background: var(--accent-mix-10);
        }

        .ls-tab-handle.active {
            --background: var(--ui-element);
            z-index: 1;
            box-shadow: 0 4px 12px 2px #0002;
        }
        
        .ls-tab-handle::after, .ls-tab-handle::before {
            content: "";
            position: absolute;
            background-color: transparent;
            box-shadow: 0 -24px 0 0 var(--background);
            bottom: -18px;
            height: 46px;
            width: 10px;
            pointer-events: none;
            transition: box-shadow 0.1s;
            z-index: 0;
        }

        .ls-tab-handle::after {
            transform: rotate(-90deg);
            left: calc(100% + 18px);
            border-top-left-radius: 8px;
        }

        .ls-tab-handle::before {
            transform: rotate(90deg);
            left: -28px;
            border-top-right-radius: 8px;
        }
    }
}

.ls-tooltip-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    display: none;
}

.ls-tooltip-layer.shown {
    display: block;
}

.ls-tooltip-content {
    position: absolute;
    background: var(--surface-1);
    padding: 2px 14px;
    border: 1px solid var(--ui-border);
    box-shadow: inset 0 1px 0 0 var(--ui-element);
    border-radius: var(--border-radius);
    white-space: pre-wrap;
}

.ls-tooltip-content kbd {
    background: var(--surface-3);
    padding: 0 6px;
    border-radius: var(--border-radius);
    font-size: smaller;
}

@for $i from 1 through 7 {
    $sizes: (xxs, xs, sm, md, lg, xl, xxl);
    $size: nth($sizes, $i);
    $margin: 0.25rem * pow(2, $i - 1);

    .space-h-#{$size} {
        margin: $margin 0;
    }

    .space-v-#{$size} {
        margin: 0 $margin;
    }
}

.ls-slide-animation > * {
    transform: translateX(20px);
    will-change: transform;
    pointer-events: none;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: 1;
}

.ls-slide-animation > *.entering, .ls-slide-animation > *.leaving {
    position: absolute;
}

.ls-slide-animation > *.visible {
    pointer-events: auto;
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

.ls-slide-animation > *.leaving {
    pointer-events: none;
    transform: translateX(-20px);
    opacity: 0;
    z-index: 1;
}

.ls-slide-animation > *:not(.visible):not(.leaving):not(.entering) {
    display: none !important;
}

.ls-modal-layer.ls-modal-layer {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls-modal-layer.ls-modal-layer.is-open {
    background: #0004;
    pointer-events: auto;
}

.ls-modal-styled {
    overflow: hidden;
    max-height: calc(100vh - 40px);
    max-width: calc(100vw - 40px);
}

.ls-modal {
    position: absolute;
}

.ls-image-cropper {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.ls-image-cropper-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.ls-image-cropper-styled {
    border-radius: var(--border-radius);
    background: black;
}

.ls-image-cropper-image {
    cursor: grab;
    will-change: transform;
    position: absolute;
}

.ls-image-cropper-overlay {
    border: 5px solid var(--accent-80);
    box-shadow: 0 0 0 9999px rgba(47, 49, 54, .6);
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

// TODO:
.ls-resize-collapsed {
    --ls-resize-anchor: 1 !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.ls-image-cropper-processing {
    position: absolute;
    inset: 0px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 10px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.ls-resize-handle {
    position: absolute;
    z-index: 50;
}

.ls-resize-handle-styled:hover, .ls-resize-handle-styled.is-dragging {
    background-color: var(--surface-5, #0005);
    opacity: 0.7;
}

.ls-resize-handle-styled {
    transition: .2s background-color;
    transition-delay: .2s;
}

.ls-top {
    top: 0;
    right: 0;
    left: 0;
}

.ls-resize-handle.ls-top {
    transform: translateY(calc(var(--ls-resize-anchor, 0.5) * -100%));
    height: var(--ls-resize-handle-size, 6px);
    cursor: ns-resize;
}

.ls-right {
    top: 0;
    right: 0;
    bottom: 0;
}

.ls-resize-handle.ls-right {
    transform: translateX(calc(var(--ls-resize-anchor, 0.5) * 100%));
    width: var(--ls-resize-handle-size, 6px);
    cursor: ew-resize;
}

.ls-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.ls-resize-handle.ls-bottom {
    transform: translateY(calc(var(--ls-resize-anchor, 0.5) * 100%));
    height: var(--ls-resize-handle-size, 6px);
    cursor: ns-resize;
}

.ls-left {
    top: 0;
    left: 0;
    bottom: 0;
}

.ls-resize-handle.ls-left {
    transform: translateX(calc(var(--ls-resize-anchor, 0.5) * -100%));
    width: var(--ls-resize-handle-size, 6px);
    cursor: ew-resize;
}

.ls-topLeft {
    top: 0;
    left: 0;
}

.ls-resize-handle.ls-topLeft {
    width: var(--ls-resize-corner-size, 12px);
    height: var(--ls-resize-corner-size, 12px);
    transform: translate(calc(var(--ls-resize-anchor, 0.5) * -100%), calc(var(--ls-resize-anchor, 0.5) * -100%));
    cursor: nwse-resize;
}

.ls-topRight {
    top: 0;
    right: 0;
}

.ls-resize-handle.ls-topRight {
    width: var(--ls-resize-corner-size, 12px);
    height: var(--ls-resize-corner-size, 12px);
    transform: translate(calc(var(--ls-resize-anchor, 0.5) * 100%), calc(var(--ls-resize-anchor, 0.5) * -100%));
    cursor: nesw-resize;
}

.ls-bottomLeft {
    bottom: 0;
    left: 0;
}

.ls-resize-handle.ls-bottomLeft {
    width: var(--ls-resize-corner-size, 12px);
    height: var(--ls-resize-corner-size, 12px);
    transform: translate(calc(var(--ls-resize-anchor, 0.5) * -100%), calc(var(--ls-resize-anchor, 0.5) * 100%));
    cursor: nesw-resize;
}

.ls-bottomRight {
    bottom: 0;
    right: 0;
}

.ls-resize-handle.ls-bottomRight {
    width: var(--ls-resize-corner-size, 12px);
    height: var(--ls-resize-corner-size, 12px);
    transform: translate(calc(var(--ls-resize-anchor, 0.5) * 100%), calc(var(--ls-resize-anchor, 0.5) * 100%));
    cursor: nwse-resize;
}

.ls-dropdown-layer {
    position: fixed;
    top: 0;
    left: 0;
}

.ls-menu-container {
    background: var(--elevate, var(--surface-1));
    outline: 1px solid var(--elevate-1, var(--surface-2));
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px 0 #0005;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: auto;
}

.ls-menu-item {
    margin: 0 4px;
}

.ls-menu-item:last-child {
    margin-bottom: 4px;
}

.ls-menu-item:first-child {
    margin-top: 4px;
}

.ls-list-item, .ls-menu-item {
    padding: var(--space-tiny) var(--space-small);
    white-space: nowrap;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}

.ls-list-item:hover, .ls-list-item.selected {
    background: var(--elevate-1, var(--surface-2));
}

.ls-list-item:active, .ls-list-item:focus {
    background: var(--elevate-0, var(--surface-n1));
}

.ls-menu-item-label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ls-menu-submenu-arrow {
    width: 0.4em;
    height: 0.4em;
    border-right: 2px solid var(--elevate-4, var(--surface-5));
    border-bottom: 2px solid var(--elevate-4, var(--surface-5));
    transform: rotate(-45deg);

    margin-left: 4px;
}

.ls-menu-separator.ls-menu-separator {
    border: 1px solid var(--elevate-2, var(--surface-3));
    border-bottom: none;
    --hr-spacing: 4px;
}

.ls-menu-label {
    font-weight: 600;
    padding: 6px 10px;
}

.ls-checkbox.ls-menu-item, .ls-radio.ls-menu-item {
    padding-left: calc(1em + 15px);
}

.ls-checkbox.ls-menu-item > span, .ls-radio.ls-menu-item > span {
    left: 5px;
}

.ls-list-item.disabled, .ls-menu-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ls-menu-item-icon {
    display: block;
    min-width: 18px;
}

.ls-menu-search {
    margin: 4px !important;
    margin-bottom: 8px !important;
}

ls-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

ls-select ls-option, ls-select option, ls-select optgroup {
    display: none;
}

.ls-select-content {
    display: flex;
    align-items: center;
}

.ls-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
    margin-left: 8px;
}

[aria-expanded="true"] > .ls-select-content > .ls-select-arrow {
    border-bottom: 5px solid currentColor;
    border-top: none;
}