#{priority('[ls-theme="light"]', 3)}, [ls-theme="light"][ls-accent], [ls-theme="light"] [ls-accent] {
    --background: var(--base-90);
    --color: var(--base-20);

    --surface-n3: var(--base-100);
    --surface-n2: var(--base-98);
    --surface-n1: var(--base-95);
    --surface-0:  var(--base-90);
    --surface-1:  var(--base-85);
    --surface-2:  var(--base-80);
    --surface-3:  var(--base-75);
    --surface-4:  var(--base-70);
    --surface-5:  var(--base-65);
    --surface-6:  var(--base-60);
    --surface-7:  var(--base-55);
    --surface-8:  var(--base-50);
    --surface-9:  var(--base-45);
    --surface-10: var(--base-40);
    --surface-top: var(--base-10);

    --ui-element: var(--base-95);
    --ui-border: var(--base-40);


    &, [ls-accent], :disabled {
        --on-background: var(--accent-40);
        --on-accent: var(--accent-90);
        --on-transparent: var(--accent-30);
    }

    [ls-accent = "auto"], &[ls-accent = "auto"] {
        --accent: var(--accent-10);
        --on-accent: var(--accent-95);
    }
}

#{priority('[ls-theme="dark"]', 3)}, body:not([ls-theme]), [ls-theme="dark"][ls-accent], [ls-theme="dark"] [ls-accent] {
    --background: var(--base-10);
    --color: var(--accent-90);

    --surface-n3: var(--base-0);
    --surface-n2: var(--base-6);
    --surface-n1: var(--base-8);
    --surface-0:  var(--base-10);
    --surface-1:  var(--base-15);
    --surface-2:  var(--base-20);
    --surface-3:  var(--base-25);
    --surface-4:  var(--base-30);
    --surface-5:  var(--base-35);
    --surface-6:  var(--base-40);
    --surface-7:  var(--base-45);
    --surface-8:  var(--base-50);
    --surface-9:  var(--base-55);
    --surface-10: var(--base-60);
    --surface-top: var(--base-100);

    --ui-element: var(--base-20);
    --ui-border: var(--base-0);


    &, [ls-accent], :disabled {
        --on-background: var(--accent-70);
        --on-transparent: var(--accent-80);
        --on-accent: var(--accent-95);
    }

    [ls-accent = "auto"], &[ls-accent = "auto"] {
        --accent: var(--accent-90);
        --on-accent: var(--accent-10);
    }
}