# IDEs and editors
.vscode
.idea
.github

# Backend distribution related
versions/

# Being worked on
misc/demos

# ?
app.conf
ls-reference.md

node_modules
pnpm-*

# Internal temporary files
*.patch
*.log
*.backup
*.test.*
*.bench.*
__*