/*!
    Author: Lukas (thelstv)
    Copyright: (c) https://lstv.space

    Last modified: 2025
    License: GPL-3.0
    Version: 5.0.0
    See: https://github.com/thelstv/LS
*/


// Do not migrate to @use yet
@import "css/variables.scss";
@import "css/themes.scss";
@import "css/essentials.scss";
@import 'css/colors.scss';
@import "css/normalize.scss";

%font {
    font-family: var(--font);
}

body {
    margin: 0;
}

:root {
    // Disable Chrome's auto dark mode
    color-scheme: only light;
}

[ls] {
    @extend %font;

    --padding-control-h: 16px;
    --padding-control-v: 8px;
    --padding-content-h: 16px;
    --padding-content-v: 8px;
    --padding-control-h-pill: 18px;
    --padding-label-h: 4px;
    --padding-label-h-pill: 8px;
    --padding-input-h: 8px;

    --margin-control-v: 0;
    --margin-control-h: 0;
    --margin-content-v: 14px;
    --margin-content-v-large: 18px;

    background: var(--background);
    color: var(--color);
    overflow-y: overlay;

    * {
        box-sizing: border-box;
    }

    :is(#{$button}, input, select, textarea) {
        @extend %font;

        box-sizing: border-box;
        border: 0;
        outline: none;
        position: relative;

        &:not(textarea) {
            line-height: 1;
        }
    }

    #{$button} {
        padding: var(--padding-control-v) var(--padding-control-h);
        margin: var(--margin-control-v) var(--margin-control-h);

        cursor: pointer;

        i {
            margin: 0 4px 0 2px;
        }

        i:only-child {
            margin: 0;
        }
    }

    input, textarea {
        height: calc(1em + (var(--padding-control-v) * 2));
        padding: 0 var(--padding-input-h);
        margin: var(--margin-control-v) var(--margin-control-h);
        color: inherit;
    }

    #{$button}.circle {
        height: calc(1em + (var(--padding-control-v)* 2));
        width: calc(1em + (var(--padding-control-v)* 2));
        padding: 0;
    }

    #{$button}.circle > :first-child {
        margin: 0;
        padding: 0;
    }

    a {
        color: var(--accent);
        text-decoration: none;
    }
    
    a:focus:not(.ls-button, .ls-plain) {
        box-shadow: 0 0 0 3px #0004;
        outline: 3px solid var(--accent);
        outline-offset: 3px;
        border-radius: 3px;
    }

    hr {
        border: 1px solid var(--elevate-2);
        border-radius: 10px;
        margin: var(--hr-spacing, 18px) 0
    }

    #{$input}::selection, textarea::selection {
        background-color: var(--surface-mix-50);
    }

    h1 {
        font-weight: 800;
    }

    h2 {
        font-weight: 600;
    }

    h3 {
        font-weight: 500;
    }

    h4 {
        font-weight: 300;
    }

    h3, h4 {
        color: var(--elevate-8);
    }

    table {
        background-color: #fff1;
        border-collapse: collapse;
        border: 1px solid #fff5;
        overflow: hidden;
        border-radius: 15px;

        :is(th,td) {
            border: 1px solid #fff2;
            text-align: center;
            padding: 5px
        }
    }
}

::-webkit-scrollbar {
    width: var(--scrollbar-size, 6px);
    height: var(--scrollbar-size, 6px);
}

::-webkit-scrollbar-track {
    background: var(--elevate-2, #0001);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-radius, 8px);
    background: var(--elevate-8, #0004);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--elevate-9, #fff4);
}