@import "../variables.scss";

[ls-style="flat"] {

    // --border-radius-tiny:     2px;
    // --border-radius-small:    4px;
    // --border-radius:          7px;
    // --border-radius-medium:   12px;
    // --border-radius-large:    16px;
    // --border-radius-xlarge:   20px;
    // --border-radius-xxlarge:  24px;
    // --border-radius-full:     100px;
    // --border-radius-circle:   50%;


    --border-radius-multiplier: 1;
    --border-radius-tiny:    calc(2px * var(--border-radius-multiplier, 1));
    --border-radius-small:   calc(4px * var(--border-radius-multiplier, 1));
    --border-radius:         calc(7px * var(--border-radius-multiplier, 1));
    --border-radius-medium:  calc(12px * var(--border-radius-multiplier, 1));
    --border-radius-large:   calc(16px * var(--border-radius-multiplier, 1));
    --border-radius-xlarge:  calc(20px * var(--border-radius-multiplier, 1));
    --border-radius-xxlarge: calc(24px * var(--border-radius-multiplier, 1));
    --border-radius-full:    calc(100px * var(--border-radius-multiplier, 1));
    --border-radius-circle: 50%;

    #{$control} {
        border-radius: var(--border-radius);
    }

    #{$buttonLike} {
        background-color: var(--accent-35);
        color: var(--on-accent);

        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

        &:not(:disabled, .no-effect) {
            &:hover, &:focus {
                background-color: var(--accent-40);
            }

            &:active {
                background-color: var(--accent-30);
            }

            &:focus-visible {
                outline: 3px solid currentColor;
            }
        }

        &:disabled {
            opacity: 0.8;
            filter: saturate(0.6);
            cursor: not-allowed;
            background: var(--elevate-2);
            color: var(--on-transparent);
        }
    }

    #{$buttonLike}:is(.clear, .outline) {
        background: none;
        color: var(--on-background);
    }

    #{$buttonLike}.circle {
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    #{$buttonLike}.square {
        border-radius: var(--border-radius);
        align-items: center;
        justify-content: center;
    }

    #{$buttonLike}:is(.clear, .outline, .elevated):not(:disabled) {
        &:hover, &:focus {
            background-color: var(--accent-mix-40);
        }

        &:active {
            background-color: var(--accent-mix-20);
        }
    }

    #{$buttonLike}.clear {
        &:hover, &:focus {
            color: var(--on-transparent);
        }
    }

    #{$buttonLike}.outline {
        border: 1px solid var(--accent-70);
    }

    #{$buttonLike}.elevated {
        background-color: var(--accent-mix-20);
        color: var(--on-transparent);

        &:focus-visible {
            outline: 3px solid currentColor;
        }

        &:disabled {
            background: var(--accent-mix-10);
        }
    }

    #{$buttonLike}.pill {
        border-radius: var(--border-radius-full);
        padding: var(--padding-control-v) var(--padding-control-h-pill);
    }

    #{$buttonLike}.small {
        --padding-control-h: 10px;
        font-size: x-small;
    }

    [data-ls-state="loading"].loading-right::after, [data-ls-state="loading"]:not(.loading-right)::before {
        content: "";
        --border-width: calc(1em / 8);
        border: var(--border-width) solid currentColor;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
        display: inline-block;
        border-radius: 50%;

        --width: calc(1em - var(--border-width) * 2);
        --height: calc(1em - var(--border-width) * 2);
        width: var(--width);
        height: var(--height);

        // Absolute positioning
        position: absolute;
        top: calc(50% - (var(--height) / 2));
        left: calc(50% - (var(--width) / 2));
        z-index: 500000;
    }

    #{$buttonLike}[data-ls-state="loading"]:not(.loading-right)::before {
        margin-left: 0;
        position: static;

        // In case of absolute positioning
        // left: var(--padding-control-h);
        // top: calc(50% - (1em / 2));
    }

    #{$buttonLike}[data-ls-state="loading"].loading-right::after {
        float: right;
        margin-left: auto;
        position: static;

        // In case of absolute positioning
        // right: var(--padding-control-h);
        // top: calc(50% - (1em / 2));
    }

    #{$buttonLike}[data-ls-state="loading"] {
        pointer-events: none;
        user-select: none;
    }

    #{$buttonLike}[data-ls-state="loading"]:not(.loading-right) > i:first-child {
        display: none;
    }

    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    #{$textInput}:not(.clear) {
        --background: var(--elevate-0, var(--surface-n2));
        background: var(--background);
        border: 2px solid var(--background);
        // border: 2px solid var(--elevate-0);

        &:focus {
            border: 2px solid var(--accent-focus, var(--accent));
            --background: var(--accent-mix-10);
        }
    }

    .ls-checkbox > span, .ls-radio > span {
        border: 2px solid var(--elevate-2);
        border-radius: var(--border-radius-small);
        transition: background-color 0.2s, transform 0.2s;
    }

    .ls-radio > span {
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > span::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: -0.8em;
        transition: background-color 0.2s, transform 0.2s;
        transform: scale(0.8);
        opacity: .5;
    }

    .ls-radio > span::after {
        background: var(--accent);
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span::before {
        display: none;
    }

    :is(.ls-checkbox, .ls-radio):active > span::before {
        background: var(--accent-mix-20);
        transform: scale(1);
    }

    .ls-checkbox > input:checked ~ span {
        background: var(--accent);
        border: none;
    }

    .ls-radio > input:checked ~ span {
        border-color: var(--accent);
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span {
        border: 2px solid var(--elevate-1);
        cursor: not-allowed;
    }

    .ls-switch > span {
        transition: background-color 0.2s;
        border-radius: var(--border-radius-full);
        border: 2px solid var(--elevate-2);
        background: var(--elevate-1);
    }

    .ls-switch > span::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(1em - 4px);
        height: calc(1em - 4px);
        background: var(--background);
        border-radius: var(--border-radius-full);
        transition: transform 0.2s, background-color 0.2s;
    }

    .ls-switch > input:checked ~ span {
        border-color: var(--accent-50);
        background-color: var(--accent-40);
    }

    .ls-switch > input:checked ~ span::after {
        background-color: var(--accent-95);
        transform: translateX(100%);
    }
}

.ls-toggle-button {
    padding-left: calc(1em + 5px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;

    > input {
        opacity: 0;
        width: 0 !important;
        height: 0 !important;
        position: absolute !important;
    }

    > span {
        width: calc(1em - 2px);
        height: calc(1em - 2px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 2px solid var(--surface-0);
        outline: 1px solid var(--elevate-2);
    }

    > input:checked ~ span::after {
        background: radial-gradient(20px 15px ellipse at center top, var(--accent-20) 0%, var(--accent-95) 100%);
        filter: brightness(1.4); /* Not sure how efficient this is */
    }

    > span::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 0px;
        background: radial-gradient(15px 10px ellipse at center bottom , var(--elevate-2) 0%, var(--elevate-0) 100%);
        box-shadow: inset 0 2px 2px -2px #fffa;
    }
}

.ls-modal-styled {
    outline: 1px solid var(--accent-mix-20);
    box-shadow: 0 10px 20px 0 #0002;
    border-radius: var(--border-radius-medium);
    background: var(--background);

    .ls-modal-footer {
        background: var(--elevate-n1);
        padding: var(--padding-content-h);
        display: flex;
        gap: 10px;
    }
    
    .ls-modal-footer > button {
        flex: 1;
    }
    
    .ls-modal-body {
        overflow: auto;
        padding: 20px 25px;
    }
    
    .ls-modal-title {
        margin: 0;
        padding: 20px 25px;
        padding-bottom: 0;
    }

    .ls-modal-input {
        display: block;
        width: 100%;
        margin-top: 8px !important;
    }
}