@import "../variables.scss";

[ls-style="flat"] {

    --border-radius-tiny:     2px;
    --border-radius-small:    4px;
    --border-radius:          7px;
    --border-radius-medium:   12px;
    --border-radius-large:    16px;
    --border-radius-xlarge:   20px;
    --border-radius-xxlarge:  24px;
    --border-radius-full:     100px;
    --border-radius-circle:   50%;

    #{$control} {
        border-radius: var(--border-radius);
    }

    #{$buttonLike} {
        background-color: var(--accent-35);
        color: var(--on-accent);

        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

        &:not(:disabled, .no-effect) {
            &:hover, &:focus {
                background-color: var(--accent-40);
            }

            &:active {
                background-color: var(--accent-30);
            }

            &:focus {
                outline: 3px solid var(--accent-mix-10);
            }

            &:focus-visible {
                outline: 3px solid currentColor;
            }
        }

        &:disabled {
            opacity: 0.8;
            filter: saturate(0.6);
            cursor: not-allowed;
            background: var(--elevate-2);
            color: var(--on-transparent);
        }
    }

    #{$buttonLike}:is(.clear, .outline) {
        background: none;
        color: var(--on-background);
    }

    #{$buttonLike}.circle {
        border-radius: 50%;
    }

    #{$buttonLike}.square {
        border-radius: var(--border-radius)
    }

    #{$buttonLike}:is(.clear, .outline, .elevated):not(:disabled) {
        &:hover, &:focus {
            background-color: var(--accent-mix-40);
        }

        &:active {
            background-color: var(--accent-mix-20);
        }
    }

    #{$buttonLike}.clear {
        &:hover, &:focus {
            color: var(--on-transparent);
        }
    }

    #{$buttonLike}.outline {
        border: 1px solid var(--accent-70);
    }

    #{$buttonLike}.elevated {
        background-color: var(--accent-mix-20);
        color: var(--on-transparent);

        &:focus-visible {
            outline: 3px solid currentColor;
        }

        &:disabled {
            background: var(--accent-mix-10);
        }
    }

    #{$buttonLike}.pill {
        border-radius: var(--border-radius-full);
        padding: var(--padding-control-v) var(--padding-control-h-pill);
    }

    #{$buttonLike}.small {
        --padding-control-h: 10px;
        font-size: x-small;
    }

    #{$buttonLike}[state="loading"] {
        pointer-events: none;
        opacity: 0.7;
    }

    #{$buttonLike}[state="loading"]::after {
        content: "";
        border: 2px solid var(--on-accent);
        border-top-color: transparent;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-left: auto;
        animation: spin 1s linear infinite;
        float: right;
        user-select: none;

        // I guess this adds support for both absolute and relative positioning.
        right: var(--padding-control-h);
    }

    #{$buttonLike}[state="loading"].loading-left::after {
        float: left;
        margin-left: 0;
        margin-right: 8px;

        left: var(--padding-control-h);
    }

    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    #{$textInput}:not(.clear) {
        --background: var(--elevate-0, var(--surface-n2));
        background: var(--background);
        border: 2px solid var(--background);
        // border: 2px solid var(--elevate-0);

        &:focus {
            border: 2px solid var(--accent-focus, var(--accent));
            --background: var(--accent-mix-10);
        }
    }

    .ls-checkbox > span, .ls-radio > span {
        border: 2px solid var(--elevate-2);
        border-radius: var(--border-radius-small);
        transition: background-color 0.2s, transform 0.2s;
    }

    .ls-radio > span {
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > span::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: -0.8em;
        transition: background-color 0.2s, transform 0.2s;
        transform: scale(0.8);
        opacity: .5;
    }

    .ls-radio > span::after {
        background: var(--accent);
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span::before {
        display: none;
    }

    :is(.ls-checkbox, .ls-radio):active > span::before {
        background: var(--accent-mix-20);
        transform: scale(1);
    }

    .ls-checkbox > input:checked ~ span {
        background: var(--accent);
        border: none;
    }

    .ls-radio > input:checked ~ span {
        border-color: var(--accent);
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span {
        border: 2px solid var(--elevate-1);
        cursor: not-allowed;
    }
}

.ls-modal-styled {
    outline: 1px solid var(--accent-mix-20);
    box-shadow: 0 10px 20px 0 #0002;
    border-radius: var(--border-radius-medium);
    background: var(--background);

    .ls-modal-footer {
        background: var(--elevate-n1);
        padding: 18px;
        display: flex;
        gap: 4px;
    }
    
    .ls-modal-footer > button {
        flex: 1;
    }
    
    .ls-modal-body {
        overflow: auto;
        padding: 20px 25px;
    }
    
    .ls-modal-title {
        margin: 0;
        padding: 20px 25px;
        padding-bottom: 0;
    }
}